.homeMain {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(90.27deg, #FAF4FB 0.06%, #F4FCF9 99.59%);
}

.homeText {
    position: relative;
    display: block;
    font-size: 70px;
    margin-top: 200px;
}

.homeParent {
    position: relative;
    display: block;
    width: 484px;
    padding-top: 32px;
}

.homeTitle {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    max-width: max-content;
    background: linear-gradient(180deg, #59D5FB 21.4%, #EA4C89 103.54%);

}

.homeMainContent {
    position: relative;
    display: block;
    margin-top: 32px;
    width: 100%;
    height: auto;
    padding-bottom: 24px;
    border: 1px solid #D6D7D4;
    border-radius: 8px;
    overflow: hidden;

}

.homeMainContentLine {
    position: relative;
    display: block;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, #E5D3A1 0%, #EFB093 50%, #F4B6F0 100%);

}

.homeSubContent {
    position: relative;
    display: block;
    margin-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
}

.nftInfo {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.nftCollectionImage {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    object-fit: cover;
}

.nftTitle {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-left: 16px;
}

.nftPrice {
    position: relative;
    display: flex;
    padding: 16px;
    margin-top: 4px;
    width: 100%;
    height: 100px;
    background: #F1F3F5;
    border-radius: 8px;
}

.nftPriceInfo {
    position: relative;
    display: block;
    width: max-content;
}

.nftPriceInfoText_old {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #3F3B3B;
}

.nftPriceInfoText_current {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #0288D1;
    text-align: right;
}

.nftPriceInfoDes {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #959595;
}

.nftChange {
    position: relative;
    display: flex;
    padding: 16px;
    margin-top: 4px;
    align-items: center;
    justify-content: space-between;
    background: #F1F3F5;
    border-radius: 8px;
}

.nftChangeTitle {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.nftChangeValue {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #0288D1;
}

.nftImageParent {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 24px;
    border-radius: 8px;
    overflow: hidden;
}

.nftImage {
    position: relative;
    display: block;
    width: 100%;
}

.nftImageBottom {
    position: absolute;
    display: block;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.nftImageBottomTitle {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.nftImageBottomDes {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 4px;
    text-decoration-line: underline;
    text-underline-position: under;
}

.fJJLXU {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 20%;
    padding-left: 20px;
}
.zoLML {
    display: block;
    transition: transform 0.25s ease-in-out 0s;
    box-shadow: rgb(0 0 0 / 5%) 0px 2px 12px;
    border-radius: 16px;
}
.jhikRZ {
    -webkit-box-pack: end;
    justify-content: end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    position: relative;
    height: 420px;
    overflow: hidden;
    transform: translateZ(0px);
    transform-origin: center center;
    padding: 20px;
    background: rgba(22, 22, 26, 0.08);
    transition: all 0.15s ease-in-out 0s;
    border-radius: 16px;
}
.iALFHO {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateZ(0px);
    object-fit: cover;
    transition: all 0.15s ease-in-out 0s;
    border-radius: 16px;
}
.bIPNjP {
    align-items: flex-end;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 10;
    max-width: 100%;
    padding-right: 8px;
}
.jzEBRs {
    flex-flow: column;
}
.kjTbPr {
    white-space: pre-wrap;
    color: rgb(255, 255, 255);
}

.imageParentTest {
    position: relative;
    display: block;
    overflow: hidden;
    width: 200px;
    margin-top: 50px;
    margin-left: 50px;
    padding: 50px;
    transition: 0.5s;
}
.imageParentTest:hover {
    padding: 0px;
    cursor: pointer;
    /* opacity: 0.6; */
  }

.imageTest {
    position: relative;
    display: block;
    width: 100%;
    min-height: 200px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://dev-to-uploads.s3.amazonaws.com/i/mrvsmk2pl3l8fwocbfhy.gif');
}

.a1 {
width: 400px;
height: 400px;
background-color: #0288D1;
}

.dWHOmz {
    text-align: center;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(270deg, rgb(255, 115, 86) 0%, rgb(255, 89, 226) 25.52%, rgb(82, 221, 246) 50%, rgb(234, 223, 78) 76.04%, rgb(255, 115, 86) 100%) 0% 0% / 200% text;
    background-image: linear-gradient(270deg, rgb(255, 115, 86) 0%, rgb(255, 89, 226) 25.52%, rgb(82, 221, 246) 50%, rgb(234, 223, 78) 76.04%, rgb(255, 115, 86) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: 200%;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: text;
    background-color: initial;
    animation: 4s linear 0s infinite normal none running eEGgoN;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: eEGgoN;
}
.bView {
    position: relative;
    display: block;
    width: 100%;
    height: 500px;
    background-color: #9c38a0;
    transition: 1s;
}
.bView:hover {
    filter: blur(2px);
  }

.test {
    position: relative;
    display: block;
    overflow: hidden;
    background: #138d25;
    background-color: #c8dd76;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 40px);
    background-color: transparent;
    text-align: center;
    overflow: hidden;
    justify-content: space-between;
    flex-wrap: wrap;
    object-fit: fill;
    background-size: contain;
    border-radius: 32px;
}